{% load static %}
{% load custom_tags %}

 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'commom/css/base2.css'%}">

  {% block link %}
   {% endblock %}
  <title>FitoWeb</title>
</head>
<body>
<div id="outer">
<div class="top-menu">
</div>
    <div id="menuholder">
        <div id="vertical-menu">
          <a href="{% url 'home' %}" id="home" >Home</a>
            <a href="{% url 'avisos' %}"  id="avisos" >Avisos Gerais<span id='not_avisos' class="badge">{% avisos_count request.user %}</span></a>
          <a href="{% url 'projetos' %}" id="projetos" >Projetos</a>
          <a href="{% url 'experimento' %}" id="exps" >Planejamento de Experimento</a>
          <div class="crom">Cromatografia
                <div class="dropdown-content">
                    <a href="{% url 'reservas' %}">> Reserva de Cromatográfos</a>
                    <a href="{% url 'irlk' %}">> Cálculo de Indíce de Retenção</a>
                    <a href="{% url 'gas_control' %}">> Controle de Gases</a>
                </div>
          </div>
          <a href="{% url 'protocolos' %}"  id="protocolos" >Procedimentos e Protocolos</a>
          <a href="{% url 'equipe' %}"  id="equip">Equipe</a>
          <a href="{% url 'logout' %}"  id="logout">Sair</a>
        </div>
    </div>
<div class="maindiv">
{% block maindiv %}
{% endblock %}
</div>
</div>

<script>
window.onload = active();

function active(){
    check_not();
}

function check_not(){
    console.log('checkedO');
    var not = document.getElementById('not_avisos');
    if(not.innerText === '0'){
        document.getElementById('not_avisos').style.visibility = 'hidden';

    }
}
</script>
{% block script %}
{% endblock script %}
</body>
</html>
