{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" href="{% static 'calendario/css/calendar.css' %}">
 </head>
<body>
<div id='panel'>
	<div class='table_holder'>
		<table id='main_t'>
			<tbody id='tbody'>
			<tr colspan = '5'>
				<td id='arrow' onclick='prev0()' style="float: left">&lt;</td><td id='month-year-nav'></td><td id='arrow' onclick='next_month()' style="float: right; text-align: right;">&gt;</td>
			</tr>
			<tr id='week_days'>
				<td>Dom</td>
				<td>Seg</td>
				<td>Ter</td>
				<td>Qua</td>
				<td>Qui</td>
				<td>Sex</td>
				<td>Sab</td>			
			</tr>
						
			</tbody>
		</table>
	</div>
 <script src="{% static 'calendario/js/calendario.js' %}"></script>

</div>

</body>

</html>
