{% extends 'registration/base.html' %}

{% block maindiv %}
<div id="login" style="font-size: 150%; width: 40%; margin-left: 25%">
    Sessão Encerrada.
    <div >
  <a id="is_out" href="/login"  style=>Nova Sessão</a>
    </div>
</div>

{% endblock %}
{% block style %}
    <style>
#is_out:link, :visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin-top: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#is_out :hover, active {
    background-color: red;
}
</style>
{% endblock %}

