#panel{
    background: #eee;
    margin-top: 2% ;
    width: 100%;
    padding: 2%;
    position: absolute;
    text-align: center;
}

.holder{
    background: white;
    border: 2px solid #4CAF50;
    border-radius: 3%;
    display: inline-block;
    height: 100%;
    margin-bottom: 5%;
    padding: 1%;
    text-align: center;
    width: 100%;
}
.calendario-gc{
    height: 100%;
}
#GC-MS{
    background: #4CAF50;
    border: 2px solid black;
    display: table-row;
    float: left;
    margin-left: 14%;
    width: 35%;

}
#GC-FID{
    background: #4CAF50;
    border: 2px solid black;
    display: inline-block;
    float: right;
    margin-right: 14%;
    width: 35%;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}


#gas-control{
    background: #eee;
    color: black;
    display: table;
    font-size: 130%;
    float: left;
    min-height: 100%;
    text-align: left;
    width: 100%;

}
#form{
    background: #eee;
    color: black;
    display: table-cell;
    font-size: 130%;
    float: left;
    padding-left:5%;
    text-align: left;
}
#form input[type="text"]{
    font-size: 120%;
    display: block;
    width: 85%;

}
#form input[type="number"]{
    display: block;
    width: 85%;
    font-size: 100%;

}
#form button{
    cursor: pointer;
    width: 80%;
    font-size: 100%;
    margin-right: 20%;
}
#form label{
    font-size: 130%;
}
#canister{
    background: #eee;
    border: 2px solid green;
    display: table-cell;
    vertical-align: top;
}
.fieldWrapper{
    background: yellow;
}
.candiv{
    background: #eee;
    border: 2px solid green;
    color: black;
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: top;
    padding: 1%;
    width: 22%;
}
.candiv h1{
    border: 2px solid blue;
    white-space: nowrap;
    vertical-align: top;

}
.can{
    border-radius: 10% 10% 30% 30%;
    min-height: 100%;
    text-align: center;
    width:50%;

}

 #can1{
    /*background: linear-gradient(to bottom, rgba(235,255,232,1) 80%, rgba(0,128,0,1) 100%); /* w3c */
    background:  linear-gradient(to bottom, #FFFFFF  -20%,   #70040D  100%);
}
 #can2{
    /*background: linear-gradient(to bottom, rgba(201,146,137,1) 80%, rgba(128,8,8,1) 100%); /* w3c */
   background:  linear-gradient(to bottom, #FFFFFF  -20%,  #0000FF  100%);
 }
 #can3{
  /*  background:  linear-gradient(to bottom , rgb(255, 255, 255) 0%, rgb(0, 0, 255) 100%) ;*/
    background:  linear-gradient(to bottom, #FFFFFF  -20%,   #008000  100%);
 }
 .gas-info{
     background: white;
     display: inline-block;
     font-weight: bold;
     text-align: left;
 }
 .gas-info p{
     font-size:100% ;
     font-weight: normal;
     white-space: nowrap;
 }
 #plots{
     background: #eee;
     height: 40%;
     margin-bottom: 1%;
     padding-top: 1%;
     width: 100%;
 }
 .plot{
     background: white;
     display: inline-block;
     float: left;
     height: 85%;
     width: 49%;
 }
 #ars{
     background:
             url("/static/cromatografia/images/doubplot.png")
             no-repeat;
     background-size: 100% 100%;

 }
 #he{
     background: url("/static/cromatografia/images/heplot.png")
     no-repeat;
     background-size: 100% 100%;
     margin-left: 1%;

 }